<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
<th:block>
  <head th:fragment="configFragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 공통 css -->
    <th:block th:replace="common/styles"></th:block>

    <!-- 컨텐츠페이지의 css 영역이 들어감 -->
    <th:block layout:fragment="css"></th:block>

    <!-- 공통 js -->
    <th:block th:replace="common/scripts"></th:block>

    <!-- 컨텐츠페이지의 스크립트 영역이 들어감 -->
    <th:block layout:fragment="script"></th:block>
  </head>
</th:block>
</html>