<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default"
      lang="en">
<div layout:fragment="content" class="container">
<div>
  <h1>글 수정</h1>
  <div>
    <form class="board-modify-form" th:action method="post" th:object="${boardDto}" enctype="multipart/form-data">
      <div class="mb-3 row">
        <label th:for="title" class="form-label">제목</label>
        <input class="title form-control" type="text" th:field="*{title}">
        <div th:errors="*{title}"></div>
      </div>

      <div class="mb-3 row">
        <label th:for="content" class="form-label">글 작성</label>
        <textarea class="content form-control" th:field="*{content}"></textarea>
        <div th:errors="*{content}"></div>
      </div>

      <div class="mb-3 row">
        <input class="form-control" type="file" multiple="multiple" th:field="*{attachFiles}"/>
      </div>

      <button type="submit" class="btn btn-primary">수정</button>
    </form>
  </div>

  <!--첨부 파일-->
  <div th:each="file: ${board.getUploadFiles()}" th:if="${board.getUploadFiles()}" th:id="'f'+${file.id}">
    <a th:href="|/board/attach/*{file.id}|" th:text="${file.getOriginal_name()}"></a>
    <input type="button" value="삭제" class="btn btn-secondary" th:onclick="deleteFile([[${file.id}]])"/>
  </div>

</div>
</div>
</html>

<script th:inline="javascript">
  /*<![CDATA[*/
  if([[${board.title}]] != null || [[${board.content}]] != null ) {
    document.querySelector('input.title').value = [[${board.title}]];
    document.querySelector('textarea.content').value = [[${board.content}]];
  }

  function deleteFile(id) {
    const target = document.querySelector('.board-modify-form');
    const input = document.createElement('input');
    input.setAttribute('type', 'hidden');
    input.name = 'deleteFile';
    input.value = id;

    target.insertAdjacentElement('afterbegin', input);

    document.querySelector(`#f${id}`).classList.add('displaynone')
    console.log('delete file id : ', id);
  }
  /*]]>*/
</script>

<style>
  .displaynone {
    display : none;
  }
</style>