<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<style>
  .navList {
    display: flex;
    list-style: none;
  }
</style>
<body>
  <div th:replace="~{fragment/bodyHeader}"></div>
  <div class="container">
    <h1>게시판</h1>

    <div>
      <form th:action method="post" th:object="${cond}">
        <select th:field="*{selected}">
          <option th:each="e : ${T(hello.board.web.DTO.BoardConditionEnum).values()}" th:value="${e.name()}" th:text="${e.value()}"></option>
        </select>

        <input type="text" th:field="*{text}" placeholder="텍스트 입력하세요."/>
        <button type="submit">검색</button>
      </form>
    </div>


    <div>
      <table>
        <thead>
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>날짜</th>
          </tr>
        </thead>
        <tbody>
          <tr style="cursor: pointer" th:each="board : ${boards}" th:onclick="|location.href='@{/board/{id}(id=${board.id})}'|">
              <td><span th:text="${board.id}"></span></td>
              <td><span th:text="${board.title}"></span></td>
              <td><span th:text="${board.content}"></span></td>
              <td><span th:text="${board.createAt}"></span></td>
          </tr>
        </tbody>
      </table>

      <nav th:with="maxPageSize=${session.MaxPageSize}, totalPageCount=${(boards.getTotalElements() % boards.getSize() == 0) ? boards.getTotalElements() / boards.getSize() : (boards.getTotalElements() / boards.getSize() + 1) }">
        <!-- 현재 페이지 <= maxPageSize -->
        <ul class="navList" th:with="start=${(boards.getNumber()/maxPageSize)*maxPageSize}, end=${(start + maxPageSize) < boards.getTotalPages() ? (start + maxPageSize - 1) : totalPageCount - 1}" th:if="${boards.number < maxPageSize -1}">

          <li th:if="${start > 1}">
            <a th:href="@{/board(page=0)}"><<</a>
          </li>

          <li th:each="page : ${#numbers.sequence(start, end)}">
            <a th:text="${page}" th:href="@{/board(page=${page})}"></a>
          </li>

          <li th:if="${end < totalPageCount}">
            <a th:href="@{/board(page=${totalPageCount - 1})}">>></a>
          </li>

        </ul>



        <!-- else -->
        <ul class="navList" th:with="start=${boards.number - 2}, end=${(boards.number + 2) < totalPageCount ? boards.number + 2 : totalPageCount - 1 }" th:unless="${boards.number < maxPageSize - 1}">

          <li th:if="${start > 1}">
            <a th:href="@{/board(page=0)}"><<</a>
          </li>

          <li th:each="page : ${#numbers.sequence(start, end)}">
            <a th:text="${page}" th:href="@{/board(page=${page})}"></a>
          </li>

          <li th:if="${end < totalPageCount - 1}">
            <a th:href="@{/board(page=${totalPageCount - 1})}">>></a>
          </li>

        </ul>

      </nav>

    </div>
  </div>
</body>
</html>