<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div th:replace="~{fragment/bodyHeader}"></div>

  <div class="container">
    <div class="board" th:object="${board}">
      <h1 th:text="*{title}"></h1>
      <p th:text="*{content}"></p>
    </div>
    <!--첨부 파일-->

    <a th:each="file : *{board.getUploadFiles()}" th:if="${board.getUploadFiles()}"
       th:href="|/board/attach/*{file.id}|" th:text="${file.getOriginal_name()}"></a>

    <div class="write-comment">

      <form th:object="${comment}" th:action="@{/comment/create}" method="post">
        <textarea th:disabled="${session.login_id == null} ? 'disabled'" placeholder="댓글을 작성하려면 로그인이 필요합니다." th:field="*{content}"></textarea>
        <input type="hidden" th:name="board1" th:value="${board.id}" />
        <button th:disabled="${session.login_id == null} ? 'disabled'" type="submit">작성</button>
      </form>
    </div>

    <div class="comments">
      <div th:each="comment : ${comments}" th:id="'c'+${comment.id}">
        <div>
          <h1 th:text="${comment.content}"></h1>
          <button th:onclick="replyToggle([[${comment.id}]])">답글</button>
          <button th:if="${comment.user.loginId} == ${session.login_id}" th:onclick="updateCommentToggle([[${comment.id}]])">수정</button>
          <button th:if="${comment.user.loginId} == ${session.login_id}" th:onclick="deleteComment([[${comment.id}]])">삭제</button>

          <div class="update-form-wrap displaynone">
            <form class="update-form">
              <textarea th:disabled="${session.login_id == null} ? 'disabled'" th:text="${comment.content}">
              </textarea>
              <input type="hidden" th:name="commentId" th:value="${comment.id}">
              <div>
                <input type="button" value="수정" th:onclick="updateComment([[${comment.id}]])">
                <input type="button" value="취소" th:onclick="updateCommentToggle([[${comment.id}]])">
              </div>
            </form>
          </div>

          <div class="reply-wrap displaynone">
            <form th:object="${comment}" th:action="@{/comment/create}" method="post">
              <input th:disabled="${session.login_id == null} ? 'disabled'" placeholder="로그인이 필요합니다." th:field="*{content}"/>
              <input type="hidden" th:name="board1" th:value="${board.id}" />
              <input type="hidden" th:name="parentId" th:value="${comment.id}" />
              <button th:disabled="${session.login_id == null} ? 'disabled'" type="submit">작성</button>
            </form>
          </div>
        </div>


        <div th:each="children: ${comment.children}">
          <h3 th:text="${children.content}"></h3>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

<script th:inline="javascript">

  // ajax comment update method
  /*<![CDATA[*/
  function updateComment(commentId) {
    let updateCommentDto = {
      "id" : parseInt(document.querySelector(`#c${commentId} .update-form input`).value),
      "content" : document.querySelector(`#c${commentId} .update-form textarea`).value,
    }

    const ajax = $.ajax({
      type: 'post',
      url: '/comment/update',
      contentType:'application/json',
      data: JSON.stringify(updateCommentDto),
      dataType: 'json',
      success: [(data) => {
        console.log(data);
        document.querySelector(`#c${commentId} h1`).innerText = updateCommentDto.content;
      }],
      error : [(error) => {
        console.error(error);
      }],
    });
  }

  // ajax comment delete method
  function deleteComment(commentId) {

    let deleteCommentDto = {
      'id': (commentId),
    }

    $.ajax({
      type: 'post',
      url: '/comment/delete',
      contentType: 'application/json',
      data: JSON.stringify(deleteCommentDto),
      error: [(error) => {
        console.error(error);
      }],
      success: [() => {
        document.querySelector(`#c${commentId}`).remove();
      }]
    })
  }
  /*]]>*/
</script>

<script>

  // 답글 작성 폼 토글
  function replyToggle(commentId) {
    let comment = document.querySelector(`#c${commentId} .reply-wrap`);
    comment.classList.toggle('displaynone');
  }

  // 댓글 수정 폼 토글
  function updateCommentToggle(commentId) {
    let updateForm = document.querySelector(`#c${commentId} .update-form-wrap`);
    updateForm.classList.toggle('displaynone');
  }

</script>

<style>
  .displaynone {
    display: none;
  }
</style>