<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Join</title>
</head>
<body>
  <div class="header" th:replace="~{fragment/bodyHeader}"></div>
  <div class="container">
    <h1>회원가입</h1>
    <form th:action method="post" th:object="${user}">

      <div>
        <label>아이디</label>
        <input class="input-loginId" disabled="disabled" type="text" th:field="*{login_id}" placeholder="아이디 입력하세요." />
        <input type="button" value="중복확인" onclick="loginIdModal()">
      </div>
      <div th:errors="*{login_id}"></div>

      <label>비밀번호</label>
      <input type="text" th:field="*{password}" placeholder="비밀번호를 입력하세요." />
      <div th:errors="*{password}"></div>

      <div>
        <label>이메일</label>
        <input type="text" th:field="*{mailAddress}" class="input-mail" placeholder="이메일 본인인증"/>
        <input type="button" value="인증코드 받기" onclick="getAuthCode()" />
        <div th:errors="*{mailAddress}"></div>
      </div>

      <div>
        <input type="text" th:field="*{authCode}" class="input-auth"/>
        <div th:errors="*{authCode}"></div>
      </div>

      <button type="submit" onclick="inputDisabledToggle()">회원가입</button>
    </form>
  </div>
</body>


<!-- 중복 확인 모달 창 start -->
<div class="modal-wrap loginId-modal displaynone">
  <div class="modal">
    <div>
      <div>
        <input class="loginId" type="text"/>
        <input type="button" value="확인" th:onclick="idDuplicateCheck()"/>
        <input type="button" value="취소" onclick="loginIdModal()"/>
      </div>
      <div>
        <span class="usable"></span>
      </div>
      <div class="displaynone use-btn">
        <input type="button" value="사용하기" onclick="useLoginId()"/>
      </div>
    </div>
  </div>
</div>
<!-- 중복 확인 모달 창 end -->
</html>

<style>
  .displaynone {
    display: none;
  }

  .modal-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 400px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
</style>

<script>
  // 중복확인 모달 창 노출 메소드
  function loginIdModal() {
    document.querySelector('.loginId-modal').classList.toggle("displaynone")
  }

  // 사용가능한 아이디 사용하기 버튼
  function useLoginId() {
    document.querySelector('input.input-loginId').value = document.querySelector('.loginId').value;
    loginIdModal();
  }

  // 회원가입 폼 submit 하기 전에 input 의 disabled 속성 제거 (disabled 면 submit 불가)
  function inputDisabledToggle() {
    document.querySelector('.input-loginId').removeAttribute('disabled');
  }

  document.querySelector('.modal-wrap').addEventListener('click', (e) => {
    if (e.target.classList.contains('modal-wrap')) {
      loginIdModal();
    }
  });
</script>

<script th:inline="javascript">
  /*<![CDATA[*/
  if ([[${errMsg}]]) {
    alert(/*[[${errMsg}]]*/);
  }

  function useBtnOn() {
    const useBtn = document.querySelector('.use-btn');
    if (useBtn.classList.contains('displaynone')) {
      useBtn.classList.remove('displaynone');
    }
  }

  function useBtnOff() {
    const useBtn = document.querySelector('.use-btn');
    if (!useBtn.classList.contains('displaynone')) {
      useBtn.classList.add('displaynone');
    }
  }

  function idDuplicateCheck() {
    let result;
    let loginId = {"loginId":document.querySelector('.modal .loginId').value};
    $.ajax({
      type: 'post',
      url: '/user/duplicateCheck',
      contentType: 'application/json',
      data: JSON.stringify(loginId),
      dataType : 'text',
      success: [(data) => {
        result = data;
        // 사용할 수 있음
        if (result==="1") {
          document.querySelector('.usable').innerText = "사용 가능한 아이디!";
          useBtnOn();
        }
        // 사용할 수 없음
        else if (result === "0") {
          document.querySelector('.usable').innerText = '이미 사용중인 아이디!';
          useBtnOff();
        }
        // 유효성 검사 실패
        else {
          alert(result);
        }

      }],
      error: [(error) => {
        console.error(error);
      }],
    })

  }

  function getAuthCode() {
    $.ajax({
      type: 'post',
      url: '/mail/send',
      contentType: 'application/json',
      data: JSON.stringify(
        {
          'address': document.querySelector('.input-mail').value,
        }
      ),
      dataType: 'text',
      success: [(data) => {
        console.log('본인인증코드 : ' + data);
      }],
      error: [(error) => {
        console.error(error);
      }]
    });
  }

  /*]]>*/
</script>