<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default"
      lang="en">

<div layout:fragment="content" class="container">

  <div class="">
    <h1>회원가입</h1>
    <form th:action method="post" name="joinForm" th:object="${user}">

      <div class="mb-3 row">

        <label th:for="*{login_id}" class="form-label">아이디</label>

        <div class="col-10">
          <input class="input-loginId form-control" disabled="disabled" type="text" th:field="*{login_id}" required placeholder="아이디 입력하세요." />
        </div>

        <div class="col-2">
          <input type="button" value="중복확인" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal">
        </div>

        <div>아이디는 영어 소문자와 숫자만 사용하여 4~20자리</div>
      </div>


      <div class="mb-3 row">

        <label th:for="*{password}" class="form-label">비밀번호</label>
        <div class="col">
          <input type="text" th:field="*{password}" class="input-password form-control" required placeholder="비밀번호를 입력하세요." />
        </div>

        <div>
          <span>비밀번호는 8~16자리수여야 합니다. 영문 대소문자, 숫자, 특수문자를 1개 이상 포함해야 합니다.</span>
        </div>

      </div>

      <div class="mb-3 row">

        <label th:for="*{mailAddress}" class="form-label">이메일</label>
        <div class="col-10">
          <input type="text" th:field="*{mailAddress}" class="input-mail form-control" required placeholder="이메일 본인인증"/>
        </div>

        <div class="col-2">
          <input type="button" value="인증코드 받기" class="btn btn-secondary" onclick="getAuthCode()" />
        </div>

        <div th:errors="*{mailAddress}"></div>
      </div>

      <div class="mb-3 row">

        <label th:for="*{authCode}" class="form-label">인증코드</label>
        <div class="col">
          <input type="text" th:field="*{authCode}" required class="input-auth form-control"/>
        </div>

        <div th:errors="*{authCode}"></div>
      </div>

      <div class="mb-3 row">
        <span id="auth-expire" class="text-danger"></span>
      </div>


      <input type="button" value="회원가입" class="btn btn-primary" onclick="inputDisabledToggle()"></input>
    </form>
  </div>


<!-- 중복 확인 모달 창 start -->
<div class="modal modal-wrap loginId-modal" id="modal" aria-labelledby="modalLabel" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">아이디 중복확인</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- 입력란 -->
        <div class="mb-3 row">
          <div class="col-10">
            <input class="loginId form-control" type="text" />
          </div>
          <div class="col-2">
            <input type="button" class="btn btn-secondary" value="확인" onclick="idDuplicateCheck()"/>
          </div>
        </div>
        <div class="mb-3 row">
          <span class="usable"></span>
        </div>
        <div class="mb-3 row">
          <input type="button" value="사용하기" class="btn btn-secondary use-btn displaynone" onclick="useLoginId()" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 중복 확인 모달 창 end -->
</div>
</html>

<style>
  .displaynone {
    display: none;
  }

  /*.modal-wrap {*/
  /*  position: absolute;*/
  /*  top: 0;*/
  /*  left: 0;*/
  /*  width: 100%;*/
  /*  height: 100vh;*/
  /*  background-color: rgba(0, 0, 0, 0.4);*/
  /*}*/

  /*.modal {*/
  /*  position: absolute;*/
  /*  top: 50%;*/
  /*  left: 50%;*/
  /*  transform: translateX(-50%) translateY(-50%);*/
  /*  width: 400px;*/
  /*  height: 600px;*/
  /*  display: flex;*/
  /*  justify-content: center;*/
  /*  align-items: center;*/
  /*  background-color: white;*/
  /*}*/
</style>

<script>
  let myModal = new bootstrap.Modal(document.getElementById('modal'),)

  // 사용가능한 아이디 사용하기 버튼
  function useLoginId() {
    document.querySelector('input.input-loginId').value = document.querySelector('.loginId').value;
    closeModal();
  }

  // 회원가입 폼 submit 하기 전에 input 의 disabled 속성 제거 (disabled 면 submit 불가)
  function inputDisabledToggle() {
    const result = validCheck();
    document.querySelector('.input-loginId').removeAttribute('disabled');
    if (result) {
      document.joinForm.submit();
    }
  }

  // 모달창 닫기
  function closeModal() {
    // const modal = document.getElementById('modal');
    // modal.classList.remove('show');
    // modal.removeAttribute('role');
    // modal.style.display = 'none';
    // const body = document.querySelector('body');
    // body.removeAttribute('class');
    // body.removeAttribute('style');
    myModal.hide();
  }

  // 클라이언트 단 유효성 검사
  function validCheck() {
    const loginIdReg = /^[a-z0-9]{4,20}$/;
    const passwordReg = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,16}$/;
    const emailReg = /[a-z0-9]+@[a-z]+\.[a-z]{2,3}/;

    // 아이디
    if (!document.querySelector('.input-loginId').value.match(loginIdReg)) {
      alert('아이디는 영어 소문자와 숫자만 사용하여 4~20자리 입니다.');
      return false;
    }
    // 패스워드
    if (!document.querySelector('.input-password').value.match(passwordReg)) {
      alert('비밀번호는 8~16자리수여야 합니다. 영문 대소문자, 숫자, 특수문자를 1개 이상 포함해야 합니다.');
      return false;
    }

    // 이메일
    if (!document.querySelector('.input-mail').value.match(emailReg)) {
      alert('이메일 형식이 올바르지 않습니다.');
      return false;
    }
    return true;
  }
</script>

<script th:inline="javascript">
  /*<![CDATA[*/
  if ([[${errMsg}]]) {
    console.log(/*[[${errMsg}]]*/);
    alert(/*[[${errMsg}]]*/);
  }

  /* 유효성 bindingResult field error */
  if ([[${bindingResult}]]) {
    const err = /*[[${bindingResult}]]*/;
    console.log(err.defaultMessage);
    alert(err.defaultMessage);
  }

  function useBtnOn() {
    const useBtn = document.querySelector('.use-btn');
    if (useBtn.classList.contains('displaynone')) {
      useBtn.classList.remove('displaynone');
    }
  }

  function useBtnOff() {
    const useBtn = document.querySelector('.use-btn');
    if (!useBtn.classList.contains('displaynone')) {
      useBtn.classList.add('displaynone');
    }
  }

  function idDuplicateCheck() {
    let result;
    let loginId = {"loginId":document.querySelector('.modal .loginId').value};
    $.ajax({
      type: 'post',
      url: '/user/duplicateCheck',
      contentType: 'application/json',
      data: JSON.stringify(loginId),
      dataType : 'text',
      success: [(data) => {
        result = data;
        // 사용할 수 있음
        if (result==="1") {
          document.querySelector('.usable').innerText = "사용 가능한 아이디!";
          useBtnOn();
        }
        // 사용할 수 없음
        else if (result === "0") {
          document.querySelector('.usable').innerText = '이미 사용중인 아이디!';
          useBtnOff();
        }
        // 유효성 검사 실패
        else {
          alert(result);
        }

      }],
      error: [(error) => {
        console.error(error);
      }],
    })

  }

  function getAuthCode() {
    let regEmail = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;

    // 이메일 주소 null 체크
    if (!regEmail.test(document.querySelector('.input-mail').value)) {
      alert('이메일 형식이 아닙니다.');
      return;
    }

    $.ajax({
      type: 'post',
      url: '/mail/send',
      contentType: 'application/json',
      data: JSON.stringify(
        {
          'address': document.querySelector('.input-mail').value,
        }
      ),
      dataType: 'text',
      success: [(data) => {
        console.log('본인인증코드 : ' + data);
        a();
      }],
      error: [(error) => {
        alert(error.responseText);
      }]
    });
  }

  let b;
  function a() {
    b = setInterval(getAuthCodeExpire, 1000);
  }

  function getAuthCodeExpire() {
    $.ajax({
      type: 'get',
      url: '/user/authcode/expire?key='+document.getElementById("mailAddress").value,
      dataType: 'text',
      success: [(result) => {
        // 5분이 지나서 key 가 존재하지 않을 경우
        if (result == -2) {
          // setInterval 제거, 시간 영역 제거
          let a = clearInterval(b);
          document.getElementById('auth-expire').innerText = "";
        }
        else {
          // 분 단위로 변경 후 노출
          const span = document.getElementById('auth-expire');
          span.innerText = time(result);

        }
      }],
      error: [(error) => {
        console.error(error);
      }],
    })
  }

  // 초 -> 시간:분:초 변환
  function time(seconds) {
    //let hour = parseInt(seconds/3600) < 10 ? '0'+ parseInt(seconds/3600) : parseInt(seconds/3600);
    let min = parseInt((seconds%3600)/60) < 10 ? '0'+ parseInt((seconds%3600)/60) : parseInt((seconds%3600)/60);
    let sec = seconds % 60 < 10 ? '0'+seconds % 60 : seconds % 60;
    return min+":" + sec;
  }

  /*]]>*/
</script>